:root {
    --blue: #08A6E4;
    --pink: #FB3B64;
    --neon-green: #55DFB4;
    --dark-grey: #707070;
    --mid-grey: #95989A;
    --light-grey: #A5A5A5;
}
* {
    box-sizing: border-box;
}

html {
    font-family: 'Raleway', 'Open Sans', sans-serif;
}
.nav__wrapper {
    box-shadow: 0px 3px 6px #00000029;
}
.container {
    margin: 0 auto;
    width: 1352px;

}

.nav__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;

}
.nav__logo {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-size: 32px;
    font-weight: 300;
    color: var(--blue);
}
.nav__order {
    display: flex;
}
.nav__item {
    margin: 0px 20px;
}
.nav__link {
    font-family: "Open Sans", "Raleway", sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    padding: 0 20px;
    color: #A5A5A5;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__link:hover {
    color: #000;
    border-bottom: 3px solid var(--blue);
}

.header__main {
    height: calc(100vh - 70px);
    background: url('../images/Background.png') bottom;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    padding-top: 150px;
}

.header__container {
    text-align: center;
}

.header__title {
    font-size: 50px;
    padding: 20px;
}

.header__text {
    margin-bottom:50px;
}

.header__button {
    background-color: #08A6E4;
    padding: 20px 150px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}


/* ########### secion 1 ############*/

.section__primary {
    text-align: center;
}

.section__primary--title {
    font-size: 36px;
}

.section__primary--items {
    display: flex;
    justify-content: space-around;
}

.section__primary--box {
    height: 100px;
    width: 150px;
    background-color: darkgreen;
    border: 1px solid #333;
}

/* ############ section 2 ############# */

.section__wrapper {
    background-color: #F7F7F7;
}

.section__secondary {
    display: flex;
    justify-content: center;
    border: 1px solid black;

}

.section__secondary--table {
    width: 80%;
    display: flex;
    justify-content: space-between;
    background: #fff;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    margin: 40px;
    padding: 40px;
}
.section__secondary--img img {
    height: 200px;
}