:root {
    --blue: #08A6E4;
    --pink: #FB3B64;
    --neon-green: #55DFB4;
    --dark-grey: #707070;
    --mid-grey: #95989A;
    --light-grey: #A5A5A5;
}
* {
    box-sizing: border-box;
}

html {
    font-family: 'Raleway', 'Open Sans', sans-serif;
}
.nav__wrapper {
    box-shadow: 0px 3px 6px #00000029;
}
.container {
    margin: 0 auto;
    width: 1352px;

}

/* ############ main page ########## */
/* ################################ */

.nav__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;

}
.nav__logo {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-size: 32px;
    font-weight: 300;
    color: var(--blue);
}
.nav__order {
    display: flex;
}
.nav__item {
    margin: 0px 20px;
}
.nav__link {
    font-family: "Open Sans", "Raleway", sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    padding: 0 20px;
    color: #A5A5A5;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__link:hover {
    color: #000;
    border-bottom: 3px solid var(--blue);
}

.header__main {
    height: calc(100vh - 70px);
    background: url('../images/Background.png') bottom;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    padding-top: 150px;
}

.header__container {
    text-align: center;
}

.header__title {
    font-size: 50px;
    padding: 20px;
}

.header__text {
    margin-bottom:50px;
}

.header__button {
    background-color: #08A6E4;
    padding: 20px 150px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}
.header__button:hover {
    background-image: linear-gradient(#08A6E4, #0C86A6);
}

.header__button:active {
    box-shadow: 2px 2px 5px #000;
}

/* ########### section 1 ############*/
/* ################################ */

.section__primary {
    margin-bottom: 100px;
}

.section__primary--title {
    font-size: 42px;
    margin: 100px 0;
    text-align: center;
}

.section__primary--items {
    display: flex;
    justify-content: space-around;

}

.section__primary--box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
}

.section__box {
    height: 63px;
    width: 63px;
    border-radius: 50%;
    /*background: var(--pink);*/
    position: relative;
}

.pink {
    background: var(--pink);
}
.blue {
    background: var(--blue);
}
.green {
    background: var(--neon-green);
}

.pink::before {
    content: '';
    background: url("../images/Person.svg") no-repeat;
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    left: 50%;
}
.blue::before {
    content: '';
    background: url("../images/Eye.svg") no-repeat;
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    left: 40%;
    top: 25%;
}
.green::before {
    content: '';
    background: url("../images/Catalog.svg") no-repeat;
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    left: 40%;
}

strong {
    font-size: 24px;
    letter-spacing: 6px;
    font-weight: bold;
    margin: 10px 0;
}
.section__primary p {
    font-size: 20px;
    color: var(--light-grey);
    margin-top: 20px;
    text-align: center;
}
/* ############ section 2 ############# */
/* #################################### */

.section__wrapper {
    background-color: #F7F7F7;
}

.section__secondary {
    display: flex;
    justify-content: center;
    border: 1px solid black;

}

.section__secondary--table {
    width: 80%;
    display: flex;
    justify-content: space-between;
    background: #fff;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    margin: 40px;
    padding: 40px;
}
.section__secondary--img img {
    height: 200px;
}