$main-color: #08A6E4;
$second-color: #FB3B64;
$third-color: #55DFB4;
$dark-grey: #707070;
$mid-grey: #95989A;
$link-color: #A5A5A5;
$text-color: #000000;
$background: #F7F7F7;
$border-color: #E8E9ED;

$width-page: 80%;
$spacing-main: 20px;

$primary-font: 'Raleway', 'Open Sans', sans-serif;
$second-font: 'Open Sans', sans-serif;