/* ########### section 1 ############*/
/* ################################ */
.section__primary--title {
  text-align: center;
  margin: 100px 0;
}
.section__primary {
  margin-bottom: 100px;
}




.section__primary--items {
  display: flex;
  justify-content: space-around;
}

.section__primary--box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__box {
  height: 63px;
  width: 63px;
  border-radius: 50%;
  position: relative;
}

.pink {
  background: $second-color;
}
.blue {
  background: $main-color;
}
.green {
  background: $third-color;
}

.pink::before {
  content: '';
  background: url("../images/Person.svg") no-repeat;
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  left: 50%;
}
.blue::before {
  content: '';
  background: url("../images/Eye.svg") no-repeat;
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  left: 40%;
  top: 25%;
}
.green::before {
  content: '';
  background: url("../images/Catalog.svg") no-repeat;
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  left: 40%;
}

strong {
  font-size: 20px;
  letter-spacing: 6px;
  font-weight: bold;
  margin: 10px 0;
}
.section__primary p {
  font-size: 16px;
  color: $link-color;
  margin-top: 20px;
  text-align: center;

}