.nav__wrapper {
  box-shadow: 0 3px 6px #00000029;
}


.nav__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;

}
.nav__logo {
  font-family: $primary-font;
  text-decoration: none;
  font-size: 32px;
  font-weight: 300;
  color: $main-color;
}
.nav__order {
  display: flex;
}
.nav__item {
  margin: 0 20px;
}
.nav__link {
  font-family: $second-font;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  padding: 0 20px;
  color: $link-color;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__link:hover {
  color: $text-color;
  border-bottom: 3px solid $main-color;
}

.header__main {
  height: calc(100vh - 70px);
  background: url('../images/Background.png') no-repeat bottom;
  display: flex;
  justify-content: center;
  padding-top: 150px;
}

.header__container {
  text-align: center;
}

.header__title {
  font-size: 50px;
  padding: 20px;
}

.header__text {
  margin-bottom:50px;
}

