/* ############ section 2 ############# */
/* #################################### */

.section-img {
  position: relative;
  img {
    width: 380px;
  }
}

.section__secondary--content::after {
  content: '';
  background: $second-color;
  width: 50%;
  height: 3px;
  display: block;
  margin-top: 30px;
}
.section__secondary--img {
  position: relative;
  img {
    height: 200px;
    position: relative;
  }
}

.section-img::before {
  content: '';
  display: block;
  height: 180px;
  width: 180px;
  background: $second-color;
  transform: rotate(45deg);
  border-radius: 30%;
  position: absolute;
  right: 30px;
  bottom: 50px;
}
